.movierow__star {
    font-size: 25px;
    cursor: pointer;
}
.try{
    /* background-color: rgba(106, 138, 166, 0.4) */
    background-color: #dae0e6;
}

tr {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

td {
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
}
  
td:first-child {
    padding-left:10px;
    padding-right:0;
    text-align: center;
}


@media (max-width: 500px) {
    .movierow__image{
        display: none;
    }
}